<% include header %>
<main>
	<section>
		<a href="/">
			<h2><span id="M404">404</span>This page can not be found!<span id="R404">Click here to start over.</span></h2>
			<img class="feature-img" src="/images/404.png" alt="404 This page can not be found!">
		</a>
	</section>
</main>
<% include footer %>