<footer>Copyright &copy; 2017 | Rafa&euml;l De Jongh | <a href="https://www.rafaeldejongh.com" target="_blank">www.rafaeldejongh.com</a> | All Rights Reserved.</footer>
<!--<script src="/js/script.js" defer></script>-->
</body>
</html>