<footer>Copyright &copy; 2017 | Rafa&euml;l De Jongh | <a href="https://www.rafaeldejongh.com" target="_blank">www.rafaeldejongh.com</a> | All Rights Reserved.</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" defer></script>
<script src="/js/script.js" defer></script>
</body>
</html>