<!DOCTYPE HTML>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8">
<meta name="robots" content="all">
<meta name="author" content="Rafa&euml;l De Jongh">
<meta name="description" content="Welcome on Rafa&euml;l De Jongh's Blog for the Advanced Front End Coding course given by Artesis Plantijn.">
<meta name="keywords" content="rafael de jongh,rafael,de jongh,web,web developer,web designer,belgian,belgium,3D artist,2D artist,artist,3D,2D">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Rafa&euml;l De Jongh | Advanced Front End Coding">
<meta property="og:description" content="Welcome on Rafa&euml;l De Jongh's Blog for the Advanced Front End Coding course given by Artesis Plantijn.">
<meta property="og:url" content="https://www.rafaeldejongh-afc.ga/">
<meta property="og:site_name" content="Rafa&euml;l De Jongh">
<meta property="fb:app_id" content="530416997145169">
<meta property="og:image" content="https://www.rafaeldejongh.com/wp-content/uploads/2017/08/RafaelDeJongh-Web-Developer-3D-Artist.jpg">
<meta property="og:image:secure_url" content="https://www.rafaeldejongh.com/wp-content/uploads/2017/08/RafaelDeJongh-Web-Developer-3D-Artist.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Welcome on Rafa&euml;l De Jongh's Blog for the Advanced Front End Coding course given by Artesis Plantijn.">
<meta name="twitter:title" content="Rafa&euml;l De Jongh | Advanced Front End Coding">
<meta name="twitter:site" content="@Rafael_De_Jongh">
<meta name="twitter:image" content="https://www.rafaeldejongh.com/wp-content/uploads/2017/08/RafaelDeJongh-Web-Developer-3D-Artist.jpg">
<meta name="twitter:creator" content="@Rafael_De_Jongh">
<meta name="generator" content="MERN Stack">
<link rel='shortlink' href='https://www.rafaeldejongh-afc.ga/'>
<link rel="canonical" href="https://www.rafaeldejongh-afc.ga/">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/images/favicon/manifest.json">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#990000">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#990000">
<meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#990000">
<title>Rafa&euml;l De Jongh | Advanced Front End Coding</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>