<% include head %>
<header>
	<aside>
		<a href="/">
			<h1>Rafa&euml;l De Jongh</h1>
			<h2>Advanced Front End Coding</h2>
		</a>
	</aside>
	<label for="menu-toggle" class="fa fa-bars mobile-menu" aria-hidden="true"></label>
	<input type="checkbox" id="menu-toggle"/>
	<nav><% for(var i = 0;i<category.length;i++){ %>
		<a href="/category/<%- i %>"><%- category[i] %></a><% } %>
	</nav>
</header>
