<% include head %>
<header>
	<aside>
		<a href="/">
			<h1>Rafa&euml;l De Jongh</h1>
			<h2>Advanced Front End Coding</h2>
		</a>
	</aside>
	<nav><% for(var i = 0;i<category.length;i++){ %>
		<a href="/category/<%- i %>"><%- category[i] %></a><% } %>
	</nav>
</header>