<% include header %>
<main><% var teller = 1; %><% posts.forEach(function(item){ %>
	<section>
		<a href=/blog/<%- item.id %>>
			<h2><%- item.titel %></h2>
			<img class="feature-img" src="/images/<%- item.picture %>" alt="<%- item.titel %>">
		</a>
	</section><% teller++;}); %>
</main>
<% include footer %>