/*Reset
-------------*/
body,html{height:100%}body,sub,sup{position:relative}pre,textarea{overflow:auto}article,aside,details,figcaption,figure,footer,header,hgroup,hr,img,main,menu,nav,section,summary{display:block}::after,::before,img{-webkit-backface-visibility:hidden}img,legend,pre,video{max-width:100%}progress,sub,sup{vertical-align:baseline}a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline;background:0 0}ol,ul{padding-left:25px}b,mark,optgroup,strong{font-weight:700}dfn,mark{font-style:italic}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,::after,::before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}::after,::before{text-decoration:inherit;vertical-align:inherit}body{line-height:1;font-family:sans-serif}nav{list-style:none}ul{list-style-type:disc}ol{list-style-type:decimal}blockquote,q{quotes:none;margin:1em}blockquote:after,blockquote:before,q:after,q:before{content:none}address{margin:1.5em 0}summary{display:list-item}table{border-collapse:collapse;border-spacing:0}hr{box-sizing:content-box;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}h1,h2,h3,h4,h5,h6{clear:both;margin:.5em 0 .35em}h1{font-size:2em}h2{font-size:1.8em}h3{font-size:1.6em}h4{font-size:1.4em}h5{font-size:1.2em}h6{font-size:.9em}a{background:0 0;-webkit-text-decoration-skip:objects;text-decoration:none;border-bottom:1px solid}a:active,a:hover{outline-width:0}ins{text-decoration:underline}del{background-color:#f44336;text-decoration:line-through}sub,sup{font-size:75%;line-height:0}sub{bottom:-.25em}sup{top:-.5em}mark{background-color:#ff9;color:#000;text-decoration:none}abbr[title],acronym,dfn[title]{text-decoration:none;border-bottom:1px dotted;cursor:help}code,kbd,pre,samp,tt,var{font-family:monospace,monospace;font-size:1em}pre{padding:.6em}input,select{vertical-align:middle}textarea{resize:vertical}button,input,textarea{padding:.3em .5em}button,input,select,textarea{outline:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button;cursor:pointer;border:none}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:ButtonText dotted 1px}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}[type=file]{padding-left:0}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;border:none;outline:0;padding:.3em .5em;cursor:pointer}[disabled]{cursor:not-allowed}fieldset{border:1px solid #bbb;margin:.5em 0;padding:.8em}legend{color:inherit;display:table;white-space:normal;border:0}img{border-style:none;height:auto}svg:not(:root){overflow:hidden}video{height:55vw;width:100%;min-height:65%}audio,canvas,iframe,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}
/*General
-------------*/
body{
	line-height:1.4em;
	height:calc(100% - 100px)
}
/*Header
-------------*/
header{
	top:0;
	position:fixed;
	width:100%;
	height:100px;
	display:grid;
	grid-template-columns:1fr 1fr;
	background-color:#fff;
	border-bottom:1px solid #333;
	box-shadow:0 3px 6px rgba(0,0,0,.3);
	color:#000;
	padding:1em 10%;
	z-index:9;
}
header h1{margin:0}
header h2{font-size:1em}
header nav{
	text-align:right;
	align-self:center;
}
/*Nav
-------------*/
.mobile-menu,#menu-toggle{display:none}
.mobile-menu:before{cursor:pointer}
nav{display:block;transition:all .3s ease-in-out}
/*Content
-------------*/
main{
	padding-top:100px;
	height:calc(100% + 50px);
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(33.33%,1fr));
}
section{position:relative}
section:not(.single) a{
	padding:20px;
	border:none;
	height:100%;
	width:100%;
	display:block;
}
section:not(.single) a,section:not(.single) p,section:not(.single) h2{color:#fff}
section:not(.single) a:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	background:rgba(0,0,0,.2);
	transition:all .3s ease;
}
section:not(.single):hover a:before{background:rgba(0,0,0,.5)}
section:not(.single) a img.feature-img{
	position:absolute;
	top:0;
	left:0;
	z-index:-2;
	width:100%;
	height:100%;
	max-height:100%;
	object-fit:cover;
}
section:not(.single) h2{
	font-size:1.4em;
	text-align:center;
	transition:all .3s ease;
	top:0;
	position:relative;
	opacity:0;
	margin:0;
	line-height:1;
}
section:not(.single):hover h2{
	top:50%;
	opacity:1
}
/*Blog
-------------*/
.single{
	width:60%;
	margin:100px auto 50px;
}
.single img{
	height:300px;
	width:100%;
	object-fit:cover;
}
.single h2{text-align:center;margin-top:35px;line-height:1em}
.single .time-stamp{
	text-align:center;
	margin-top:12px;
}
.single .time-stamp .time{margin-right:5px}
.single .single-body{
	width:80%;
	margin:25px auto;
	min-height:230px;
}
.single .categories,.single .tags{
	margin:15px 0;
}
/*Footer
-------------*/
footer{
	background-color:#eee;
	color:#888;
	padding:1em;
	text-align:center;
	font-size:12px;
	width:100%;
}
/*Links
-------------*/
a,a:visited,a:focus{
	outline:0;
	color:#000;
	text-decoration:none;
	-webkit-transition:all .2s ease-in;
	   -moz-transition:all .2s ease-in;
		 -o-transition:all .2s ease-in;
			transition:all .2s ease-in;
}
a:active,a:hover{color:#555;border-color:#555}
/*Media Queries*/
@media screen and (max-width:1140px){
	main{grid-template-columns:repeat(auto-fit,minmax(50%,1fr));}
}
@media screen and (max-width:768px){
	header{position:relative;height:auto;grid-template-columns:1fr;text-align:center;}
	header nav{text-align:center}
	main{padding:0;grid-template-columns:repeat(auto-fit,minmax(100%,1fr));}
	.single{margin:20px auto;width:80%}
	.single .categories,.single .tags{text-align:center}
	.single .single-body{min-height:200px}
}
@media screen and (max-width:567px){
	.mobile-menu{display:inline-block;font-size:2em;margin-top:10px}
	nav{
		display:block;
		visibility:hidden;
		overflow:hidden;
		max-height:0;
		margin:0;
	}
	#menu-toggle:checked + nav{max-height:200px;margin:10px 0 5px;visibility:visible}
	nav a{
		display:block;
		padding:10px 0;
		border:none;
		border-radius:5px
	}
	nav a:hover{background-color:#f8f8f8}
}
/*Scrollbar
-------------*/
::-webkit-scrollbar{width:12px;height:12px;background-color:#f5f5f5}
::-webkit-scrollbar-corner{background-color:#f5f5f5}
::-webkit-scrollbar-track{background-color:#f5f5f5}
::-webkit-scrollbar-thumb{background:#222}
::-webkit-scrollbar:horizontal{height:12px}
/*Selection
-------------*/
::selection{color:#fff;background-color:#222}
::-moz-selection{color:#fefefe;background-color:#222}